body {
    height: 100vh;
    display: grid;
    grid-template-areas: "header header" "sidebar content" "sidebar footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    background-color: #DDD;
}

header.header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #1976d2;
    color: white;
    z-index: 1000;
    -webkit-box-shadow: 0px 1px 32px 7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 1px 32px 7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 1px 32px 7px rgba(0, 0, 0, 0.53);
    font-size: 1.2rem;
}

header div.logo {
    flex-basis: 25rem;
}

header div.menu-toggle {
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    cursor: pointer;
}

header.header .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    border-radius: 100%;
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #f9f9f9;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}

.dropdown>button {
    color: white;
}

.dropdown>button:hover {
    color: white;
}

footer.footer {
    position: sticky;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    grid-area: footer;
}

main.content {
    background-color: white;
    margin: 15px;
    padding: 20px;
    grid-area: content;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 64px -20px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 64px -20px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 64px -20px rgba(0, 0, 0, 0.36);
    z-index: 0;
}

main.content .content-title {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(201, 201, 201);
}

main.content .content-title i {
    font-size: 3rem;
    font-weight: bold;
    color: green;
}

main.content .content-title h1 {
    color: #444;
    font-weight: 300;
    margin:0;
    font-size: 1.8rem;
}

main.content .content-title h2 {
    color: #888;
    font-weight: 300;
    margin:0;
    font-size: 1.2rem;
}


main.content .card-header h3{
    font-weight: 400;
}

main.content .card-header{
    font-weight: 300;
    color: #444;
    font-size: 1.6rem;
}

main.content .card-body{
    font-size: 1.4rem;
}

aside.sidebar {
    grid-area: sidebar;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* border-top-right-radius: 5%;
    border-bottom-right-radius: 5%; */
    -webkit-box-shadow: 1px 4px 32px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 1px 4px 32px 3px rgba(0, 0, 0, 0.53);
    box-shadow: 1px 4px 32px 3px rgba(0, 0, 0, 0.53);
}

aside.sidebar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

aside.sidebar .menu .nav-list {
    position: sticky;
    top: 70px;
}

.sidebar-widgets {
    position: sticky;
    bottom: 10px;
}

.sidebar-widget {
    display: flex;
    align-items: center;
}

.sidebar-widget .label {
    display: flex;
    flex-direction: column;
    margin-top: -.4rem;
}

.hour {
    font-size: 3.5rem;
    margin-left: -3rem;
}

.info .main {
    font-size: 1.7rem;
}

aside.sidebar li {
    font-size: .9rem;
    padding: 12px 20px;
    list-style: none;
}

aside.sidebar ul {
    padding-inline-start: 0px;
}

aside.sidebar a {
    color: #555;
    text-decoration: unset;
    transition: 1s ease;
}

aside.sidebar a:hover {
    text-decoration: unset;
    font-size: 1.1rem;
}

body.hidesidebar {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
}

.division {
    width: 100%;
    border: .5px solid rgba(80, 80, 80, 0.164);
}